###> PHPStorm ###
/.idea
###< PHPStorm ###

###> Local testing ###
test.php
###< Local testing ###

###> Dev Env ###
/.env.local*
/.env.local.php
/.env.*.local
/.docker-cache
/docker-compose.yaml
###< Dev Env ###

###> Symfony/Composer ###
/vendor/
/apps/Backoffice/var/
/apps/MotorsportTracker/Backend/var/
###< Symfony ###

###> Frontend ###
/apps/MotorsportTracker/Frontend/.env.local
/apps/MotorsportTracker/Frontend/node
/apps/MotorsportTracker/Frontend/build
/apps/MotorsportTracker/Frontend/node_modules
/apps/MotorsportTracker/Frontend/.next
/.nvm
###< Frontend ###

###> Admin ###
/apps/Admin/.env.local
/apps/Admin/node
/apps/Admin/build
/apps/Admin/node_modules
/apps/Admin/.next
/.nvm
###< Admin ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###
