includes:
  - /app/vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - /app/vendor/phpstan/phpstan-doctrine/extension.neon
  - /app/vendor/phpstan/phpstan-symfony/extension.neon
  - /app/vendor/phpstan/phpstan-phpunit/extension.neon
  - /app/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: 9
	treatPhpDocTypesAsCertain: false
	paths:
		- /app/src
		- /app/tests
		- /app/apps/Backoffice/src
		- /app/apps/Backoffice/tests
		- /app/apps/MotorsportTracker/Backend/src
		- /app/apps/MotorsportTracker/Backend/tests
	symfony:
		container_xml_path: '/app/apps/MotorsportTracker/Backend/var/cache/dev/Kishlin_Apps_MotorsportTracker_Backend_KernelDevDebugContainer.xml'
