<?xml version="1.0" encoding="UTF-8"?>

<!--suppress XmlDefaultAttributeValue -->

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="tests/Backend/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="true"
         verbose="false"
>

    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />

        <env name="APP_DEBUG" value="false"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999"/>
    </php>

    <testsuites>
        <testsuite name="isolated">
            <directory>tests/Backend/IsolatedTests</directory>
        </testsuite>

        <testsuite name="contract">
            <directory>tests/Backend/ContractTests</directory>
        </testsuite>

        <testsuite name="backoffice-driving">
            <directory>apps/Backoffice/tests/DrivingTests</directory>
        </testsuite>

        <testsuite name="backoffice-functional">
            <directory>apps/Backoffice/tests/FunctionalTests</directory>
        </testsuite>

        <testsuite name="backoffice-integration">
            <directory>apps/Backoffice/tests/IntegrationTests</directory>
        </testsuite>

        <testsuite name="backend-driving">
            <directory>apps/MotorsportTracker/Backend/tests/DrivingTests</directory>
        </testsuite>

        <testsuite name="backend-functional">
            <directory>apps/MotorsportTracker/Backend/tests/FunctionalTests</directory>
        </testsuite>

        <testsuite name="backend-integration">
            <directory>apps/MotorsportTracker/Backend/tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>

</phpunit>
